
<div style="background-color:  rgb(255, 128, 0); color: white;" class=' row p-5 ' >

 <div class="col-md-4">
<h2 style="justify-content: center;" class='me-2'>Shoppze</h2>
<br />
<p style="justify-content: center;" >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure veniam minus fugit officia excepturi similique voluptates est. Ipsam ratione facere rerum rem autem pariatur qui modi. Id obcaecati placeat ipsum?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quos ad sequi aliquam eum ullam totam. Dicta, officiis quaerat iure voluptas dolores sint accusamus amet voluptatum, sapiente rem vitae. Sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. A asperiores magnam molestiae excepturi molestias eos natus blanditiis hic quas quo, temporibus, suscipit fugit. Alias, nam aut enim reprehenderit error placeat.
</p>


 </div>

 <div  class="col-md-2">
 <h2 style="justify-content: center;" >Links</h2><br>
 <ul>
   <a style="text-decoration: none; color: white;" class='fs-5' href="">Cart</a> <br>
   <a style="text-decoration: none; color: white;" class='fs-5' href="">Login</a><br>
   <a style="text-decoration: none; color: white;" class='fs-5' href="">Register</a><br>
 </ul>
 </div>

 <div class="col-md-2">
 <h2 style="justify-content: center;" >Guides</h2>
 <br />
 <a style="text-decoration: none; color: white;" href="" class='fs-5' >React</a><br />
 <a style="text-decoration: none; color: white;" href="" class='fs-5' >React Bootstrap</a><br />
 <a style="text-decoration: none; color: white;" href="" class='fs-5' >Bootswatch</a>
 </div>

 <div class="col-md-3">
   <div class='d-flex '> <input placeholder='Enter email id'  type="text" class='form-control ' /> <button class='btn btn-info ms-2'>Subscribe</button></div>
<br />
<div  class='d-flex justify-content-between fs-2 mt-4 '>
<a style="text-decoration: none; color: white;"  href="https://www.instagram.com/_akshaykrishna_p?igsh=dmxscjdpZDdyMm8x"><i class="fa-brands fa-instagram"></i></a> 
<a style="text-decoration: none; color: white;"  href="https://www.facebook.com/profile.php?id=100008730258997&mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a> 
<a style="text-decoration: none; color: white;"  href="https://x.com/AkshayKrishnaP7?t=UTn0dfSx6CJ3AWoRBAHpyQ&s=09"><i class="fa-brands fa-twitter"></i></a> 
<a style="text-decoration: none; color: white;"  href="https://www.linkedin.com/in/akshay-krishna-p-0a807123b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i> </a>
</div>
 </div>

 </div> 

