
<h2 style="color: orangered; align-items: center; text-align: center;">My Wishlist</h2>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
           
            <div class="col mb-5" *ngFor="let product of allproduct">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" [src]="product.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            {{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer d-flex p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-danger mt-auto" (click)="removeItem(product._id)" ><i class="fa-solid fa-trash"></i></a></div>
                        <div style="margin-left: 100px;" class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="addToCart(product)" href=""><i class="fa-solid  fa-cart-shopping"></i></a></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>


<div *ngIf="allproduct.length==0" class="d-flex w-100 justify-content-center align-items-center flex-column">

    <img src="https://media2.giphy.com/media/7afrrzBiEH45RNdvQ0/giphy.gif" alt="no cart">
<h1 style="color: palevioletred;">Your Wishlist is Empty</h1>
<button routerLink="/" style="color: white;" class="btn btn-warning"><i class="fa-solid fa-arrow-left"></i>Back Home</button>
</div>
