<app-header></app-header>

<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 550px;width: 100%;"  src="https://i.pinimg.com/originals/ea/55/9f/ea559fcbcc4fd8a8c885ee50b6a8c8b1.gif" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img style="height: 550px;width: 100%;" src="https://cdn.dribbble.com/users/1711704/screenshots/3833059/mk_laborday.gif" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img style="height: 550px;" src="https://miro.medium.com/v2/resize:fit:996/0*SN-OS_SDK88Dnp-H.gif" class="d-block w-100" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.shutterstock.com/image-vector/businessman-shopping-cart-front-online-260nw-369885053.jpg" alt="" /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Shoppze</h1>
        <p>This is the place wher everything you want can be brought at lowest price possible</p>
        <a class="btn btn-primary" routerLink="/user/login">Sign In</a>
    </div>
</div>



   <!-- Section-->
   <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
           
            <div class="col mb-5" *ngFor="let product of allProducts">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img routerLink="/view-product/{{product.id}}" class="card-img-top" src={{product.image}} alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title.slice(0,25)}}</h5>
                            <!-- Product reviews-->
                            <div>
                              <div class="d-flex justify-content-center small text-warning mb-2">
                                  <div style="color: rgb(0, 255, 42);" class="bi-star-fill">
                                    <i  class="fa-solid fa-star"></i>
                                    {{product.rating.rate}}
                                  </div><br>
                                  
                              </div>
                              <div style="color: rgb(0, 102, 255);" class="">{{product.rating.count}}</div>
                            </div>

                            <!-- Product price-->
                            
                            <i class="fa-solid fa-indian-rupee-sign"></i>{{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer d-flex p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button (click)="addToCart(product)" class="btn btn-outline-dark mt-auto" ><i class="fa-solid fa-cart-shopping"></i></button></div>
                        <div  class="text-center ms-2"><button (click)="addWishList(product)" style="margin-left: 100px;" class="btn btn-outline-info mt-auto" ><i class="fa-solid  fa-heart"></i></button></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>