<div class="row m-3">

    <div class="col-md-2"></div>

    <div class="col-md-8 d-flex  rounded shadow ">
<div style="width: 550px; height: 550px;" class="border rounded p-2 m-2">
<form [formGroup]="loginForm" (ngSubmit)="login()" >
    <h2 class="text-center text-primary mb-4">Login Form</h2>
        <div class="d-flex m-2 p-2">
            <label class="ms-2" for="">Email:</label>
            <input class="form-control ms-2 w-100" type="text" formControlName="email" name="email" placeholder="abd@gmail.com"  >
            <span *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched"  class="text-danger">*Invalid Input</span>
        </div>
    
        <div class="d-flex m-2 p-2">
            <label class="ms-2" for="">password:</label>
            <input class="form-control ms-2" type="password" placeholder="Abc123" formControlName="password" name="password"   required  >
            <span *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="text-danger">*Invalid Input</span>
        </div>

        <div style="align-items: center; text-align: center;" class="align-items-center">
            <button type="submit" style="align-items: center; text-align: center; width: 90px;" class="btn btn-success ">Login</button>
        </div>
    
</form >
</div>
<div style="width: 550px; height: 550px;">
    <img style="width: 450px; height: 450px;" src="https://cdn.dribbble.com/users/3008811/screenshots/5951349/dribbble.gif" alt="">
    <div style="align-items: center; text-align: center;" class="align-items-center">
        <p>Are you a New User </p>
        <button routerLink="/user/register" style="align-items: center; text-align: center; width: 90px;" class="btn btn-success ">Sign In</button>
    </div>
</div>
    </div>

    <div class="col-md-2"></div>

</div>
